p{
    align-self: flex-start;
    justify-content: space-between;
    color: white;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}


const cores = {
    red: {
        50:   '#FFEBEE',
        100:  '#FFCDD2',
        200:  '#EF9A9A',
        300:  '#E57373',
        400:  '#EF5350',
        500:  '#F44336',
        600:  '#E53935',
        700:  '#D32F2F',
        800:  '#C62828',
        900:  '#B71C1C',
        A100: '#FF8A80',
        A200: '#FF5252',
        A400: '#FF1744',
        A700: '#D50000'
    },
    yellow: {
        50:   '#FFFDE7',
        100:  '#FFF9C4',
        200:  '#FFF59D',
        300:  '#FFF176',
        400:  '#FFEE58',
        500:  '#FFEB3B',
        600:  '#FDD835',
        700:  '#FBC02D',
        800:  '#F9A825',
        900:  '#F57F17',
        A100: '#FFFF8D',
        A200: '#FFFF00',
        A400: '#FFEA00',
        A700: '#FFD600'
    },
    gray: {
        50:   '#FAFAFA',
        100:  '#F5F5F5',
        200:  '#EEEEEE',
        300:  '#E0E0E0',
        400:  '#BDBDBD',
        500:  '#9E9E9E',
        600:  '#757575',
        700:  '#616161',
        800:  '#424242',
        900:  '#212121'
    }
}
// https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors