* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}